<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container text-center ">
    <h1>CREATE A NEW USER</h1>
    <form action="/user/create" method="post" enctype="multipart/form-data">
      <span>ID</span>
      <input class="mr-2" type="text" name="id">
      <span>Name</span>
      <input class="mr-2" type="text" name="name">
      <span>PASSWORD</span>
      <input class="mr-2" type="text" name="password">
      <span>MAIN</span>
      <input class="mr-2" type="file" name="mainImg"> <br>
      <span class="mb-2">ORTHER</span>
      <input class="mr-2 mb-2" type="file" name="ortherImg" multiple>
      <br>
      <button class="mt-5 mr-5 btn btn-danger" type="submit">Create</button>
    </form>


    <hr>
    <h2>LIST USERS</h2>
    <% users.forEach((user) => { %>
    <ul>
      ID : <%= user.id %>
      <span> &nbsp;
        Name : <%= user.name %>
      <span> &nbsp;
        MAIN
      <span> &nbsp;
        <% user.img.mainImg.forEach(img => {%>
          <img src="/upload/<%=img%>" height="60" width="60" alt="">
        <%})%>

      <span> &nbsp;
        ORTHER
      <span> &nbsp;
        <% user.img.ortherImg.forEach(img => {%>
          <img src="/upload/<%=img%>" height="60" width="60" alt="">
        <%})%>

      <button class=" ml-5" type="submit"> <a href="/user/remove-promise/<%= user.id%>">Remove</a> </button>
    </ul>

    <%})%>
  </div>


  <%if(error) {%>
  <%if(message == 'id_exits') {%>
  <strong>ID đã tồn tại. Mời nhập ID khác</strong>
  <%}%>
      <%}%>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>